{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}
{% block search %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <input id="js-selector-input" class="form-control mr-sm-2" type="search" class="nav-link" placeholder="Search By Tags">
        </li>
    </ul>
{% endblock %}
{% block body %}
    <main class="container">
        <div class="jumbotron aboutMe">
            <h2>404</h2>
            <hr class="my-4">
            <p>
                page introuvable <i class="fas fa-cat"></i>
            </p>
        </div>
    </main>
{% endblock %}

